.hero {
  background-image: url("./../../public/heroImage3.png");
  background-color:#121212;
  /* background-position: center; */
  background-position-x: 65vw;
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 12rem;
  display: flex;
  align-items: center;
}
.hero-heading {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    left: 30vw;
    font-family: poppins;
  }